<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
</head>
<body>
  <h1>Welcome, Admin!</h1>
  <div>
    <button onclick="createUsers()">Create Users</button>
    <button onclick="addSubjects()">Add Subjects</button>
    <button onclick="removeSubjects()">Remove Subjects</button>
  </div>


</body>
</html>