<h1>
    {{subject.name}}
</h1><hr>

<div>
    <h4>Code:</h4><h6>{{subject.code}}</h6>
</div>
<br>
<div>
    <h4>Department:</h4> <h6>{{subject.dep}}</h6>
</div>
<br>
<div>
    <h4>Pre_req:</h4> <h6>{{subject.pre_req}}</h6>
</div>