<form action="/login" method="post">
    <div>
        <label for=''>Email</label>
        <input type="text" name="email">
    </div>



    <div>
        <label for=''>Password</label>
        <input type="password" name="password">
    </div>


    <div>
        <label for=''>Academic Number</label>
        <input type="text" name="academicnumber">
    </div>


    <div>
        <button type="submit">
            login
        </button>
    </div>

</form>