<form id="f2" action="/" method="get">
    <div class="email1">
        <label for="">Email</label>
        <input
        type="email"
        name="email"
        class="form-control"
        value="{{subject.name}}"
        />
    </div>
    <div class="pass1">
        <label for="">Password</label>
        <input
        type="password"
        name="password"
        class="form-control"
        value="{{subject.name}}"
        />
    </div>
    <div>
        <button
        id="b1"
        type="submit"
        class="btn btn-outline-secondary"
        >Login</button>
        
    </div>
    </form>